// Colors
$button-hover-background-color:  #02488a;
$button-active-background-color:  #013769;

$color-primary: #0067c7;
$color-primary-light: #379eff;
$color-primary-light-extra: #e1f0ff;

$color-dark: #000000;
$color-dark-semi: #222222;
$color-gray: #0f1a1a;
$color-light: #ffffff;

$color-danger: #f54e4e;